<div class='card-header d-flex justify-content-between'>
  Mushrooms
  <%= link_to "new", new_mushroom_path, class: " btn btn-primary btn-sm" %>
</div>


<div class="container">
  <% @mushrooms.each do |mushroom| %>
    <div class="d-flex flex-column">
      <div class="task-box yellow">
        <div class="description-task">
          <div class="time">added <%= time_ago_in_words(mushroom.created_at) %> ago</div>
          <div class="text-decoration-none"><%= link_to mushroom.name, mushroom %></div>
        </div>
        <div class="more-button"></div>
    </div>
  <% end %>
</div>


