<h1>Dashboard#index</h1>

<p>Find me in app/views/dashboard/index.html.erb</p>


<div class="card-container">
  <div class="card">
    <div class="card-content">
      <h4>thing name</h4>
    </div>
    <div class="card-footer">
        put some code
      <div class="card-each">
        <ul>
          <li class="chore-name">put some code</li>
          <li>Dear: <span class="color-tone-up">put some code</li>
          <li> put some code</li>
        </ul>
          <div><i class="far fa-check-circle fa-2x mark-done"></i></div>
          <div><i class="far fa-check-circle fa-2x mark-yet"></i></div>
      </div>
  </div>
</div>
