

<div class='container'>
  <div class="justify-content-between">
    <p>Petri Dishes</p>
    <p><%= link_to "new", new_petri_dish_path, class: " btn btn-secondary btn-sm" %></p>
  </div>
</div>


<div class="row">
  <% @petri_dishes.each do |petri_dish| %>
    <div class="col-3">
        <div class="task-box yellow">
          <div class="description-task">
            <div class="time">created <%= time_ago_in_words(petri_dish.created_at) %> ago</div>
            <div><%= link_to petri_dish.name, petri_dish %></div>
            <small class="time">From <%=petri_dish.mushroom.name%> mushroom</small>
          </div>
        </div>
    </div>
  <% end %>
</div>



