

<div class='card-header d-flex justify-content-between'>
  Petri Dishes
  <%= link_to "new", new_petri_dish_path, class: " btn btn-primary btn-sm" %>
</div>

<ul class='list-group'>
  <% @petri_dishes.each do |petri_dish| %>
    <li class='list-group-item d-flex justify-content-between'>
      <div> <%= link_to petri_dish.name, petri_dish %> </div>
      <div>From mushroom: <%=petri_dish.mushroom.name%> </div>
    </li>
  <% end %>
</ul>



