/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";





// Primary app colors
$text-bright: #EBECFD;
$text-dark: #687881;
$text-medium: #B8C2C0;
$global-background: #22343B;
$card-background: #30444E;
$grey: #96A7AF;
$yellow: #FEC542;
$green:#6ED3AA;
$red: #FA5D65;
$message-in: #DFE0E5;
$message-out: #FFE3C0;
//

html {
  height: 100%;
  background-repeat: no-repeat;
  background-color: $global-background;
  word-wrap: break-word;
  // background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
}

.global {
  height: 100%;
  background-repeat: no-repeat;
  background-color: $global-background;
  word-wrap: break-word;
}
.app {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  flex-direction: column;
  background-color: $global-background;
  color: $text-medium;

  @media (min-width: 600px) {
    flex-direction: row;
  }
}
