//Primary app colors
$text-bright: #EBECFD;
$text-dark: #687881;
$text-medium: #B8C2C0;
$global-background: #22343B;
$card-background: #30444E;
$grey: #96A7AF;
$yellow: #FEC542;
$green:#6ED3AA;
$red: #FA5D65;
$message-in: #DFE0E5;
$message-out: #FFE3C0;


/// new Dashboard card
* {
  box-sizing: border-box;

}

.card-container {
  display: flex;


  .card {
    max-width: auto;
    min-width: 330px;
    width: 100%;
    margin: 5px;
    border-radius: 10px;
    background-color: $card-background;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    ul {
      padding: 0;
    }

    li {
      list-style: none;
    }

    .card-content {
      padding: 3px;
      // padding-top: 0px;

      //invite homie
      button {
        background-color: $yellow;
        border-radius: 20px;
        color: $global-background;
        border: none;
        margin-left: 6px;
        //float: right;
        font-size: small;
        padding: 4px;
      }

      p {
        color: $yellow;
        margin: 5px 0;
      }

      >h4 {
        margin-top: 5px;
        text-align: center;
        color: $yellow;
      }
    }

    .card-footer {
      padding: 20px;
      color: $text-medium;
      justify-content: space-between;
      align-items: center;

      a {
        font-size: 18px;
        text-decoration: none;
        color: $yellow;
      }
    }

    .chore-name {
      font-size: 18px;
      text-decoration: none;
      color: $yellow;
    }

    .color-white {
      color: white;
    }

    .card-each {
      display: flex;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 16px 0px;
      border-bottom: 1px solid $text-dark;

      &:last-child {
        border-bottom: none;
      }
    }

  }

}
