

<div class="task-box yellow">
  <div class="description-task">
    <div class="time">added <%= time_ago_in_words(log.created_at) %> ago</div>
    <small class="task-name"><%= log.body %></small>
  </div>
  <div class="more-button"></div>
</div>
