

<div class="task-box">
  <div class="description-task">
    <div class="log-time">added on <%= log.created_at.strftime("%b %d, %Y") %> </div>
    <small class="log-text"><%= log.body %></small>
  </div>
</div>
