

<div class="task-box yellow">
  <div class="description-task">
    <div class="time">added on <%= log.created_at.strftime("%b %d, %Y") %> </div>
    <small class="task-name"><%= log.body %></small>
  </div>
</div>
